@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin bg-gradient {
  background-color: $green;
  background-image: $red-green-gradient;  
}

@mixin fill($position: absolute) {
  position: $position;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}