$white: #FFF;
$green: #65a16a;
$dark-green: #4d7e52;
$red: #d06564; // #df8075;

$venmo: #3791d3;
$paypal: #e5bf34;
$stripe: #6772e5;

$border-radius: 10px;

$zindex-modal: 100;

$screen-xs-min: 540px;
$screen-sm-min: 768px;
$screen-md-min: 960px;
$screen-lg-min: 1200px;
$screen-xl-min: 1440px;

$site-gutter: 30px;

$font-family-nimbus: 'Nimbus Sans Ext', sans-serif;
$font-family-fredoka: 'Fredoka One', sans-serif;
$font-family-courier: 'Courier New', 'Courier', monospace;

$red-green-gradient: linear-gradient(0deg, #65a16a, #827b7b, $red); // linear-gradient(0deg, #65a16a, #d06564);
$red-green-short-gradient: linear-gradient(0deg, #7b9669, #8c8982, #bc7165);
$red-green-dark-gradient: linear-gradient(0deg, #111b11, #1f1f1f, #231312);
$red-green-light-gradient: linear-gradient(0deg, #bbeabf, #ffc4c4);