$white: #FFF;
$green: #349E40;
$dark-green: #186c23;
$pale-pink: #f29f95; // #df8075;

$venmo: #4997cf;
$paypal: #ffc538;
$stripe: #6772e5;

$border-radius: 10px;

$zindex-modal: 100;

$screen-xs-min: 540px;
$screen-sm-min: 768px;
$screen-md-min: 960px;
$screen-lg-min: 1200px;
$screen-xl-min: 1440px;

$site-gutter: 30px;

$font-family-nimbus: 'Nimbus Sans Ext', sans-serif;
$font-family-fredoka: 'Fredoka One', sans-serif;

$red-green-gradient: linear-gradient(0deg, #65a16a, #827b7b, #d06564); // linear-gradient(0deg, #65a16a, #d06564);
$red-green-short-gradient: linear-gradient(0deg, #7b9669, #8c8982, #bc7165);