@import 'variables';
@import 'mixins';
@import 'reboot';
@import 'modal';
@import 'forms';
@import 'transitions';

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h2, h3 {
  letter-spacing: 0.02em;
}

h4, h5, h6 {
  letter-spacing: 0.3em;
}

.container {
  padding: 0 $site-gutter;
}

.pill {
  display: inline-block;
  padding: 12px 17px;
  border-radius: $border-radius;
  color: $white;
  background-color: $green;
  font-size: 17px;
  line-height: 1.2;

  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 22px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 26px;
  }

  &.pill--lg {
    padding: 26px 20px;

    @media (min-width: $screen-md-min) {
      padding: 36px 28px;      
    }
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  color: $green;
  background-color: $white;
  border: none;
  padding: 16px 40px;
  font-size: 28px;
  font-family: $font-family-fredoka;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px;
  transition: {
    duration: 200ms;
    property: background-color, color, transform;
    timing-function: cubic-bezier(0.35, 0.25, 0.39, 0.96);
  }

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }

  &:hover {
    color: darken($green, 5%);
    background-color: $white;
    transform: scale(1.01);
    transition-duration: 120ms;
    transition-timing-function: cubic-bezier(0.17, 0.32, 0.09, 0.88);
  }

  &:focus {
    outline: 0
  }

  &.btn-xs {
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;

    @media (min-width: $screen-sm-min) {
      font-size: 22px;      
    }
  }  

  &.btn-sm {
    font-size: 20px;

    @media (min-width: $screen-sm-min) {
      font-size: 27px;      
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-green {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: darken($green, 5%);
    }
  }

  &.btn-red {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &.btn-paypal {
    background-color: $paypal;
    color: $white;

    &:hover {
      background-color: darken($paypal, 5%);
    }
  }
  &.btn-venmo {
    background-color: $venmo;
    color: $white;

    &:hover {
      background-color: darken($venmo, 5%);
    }
  }
  &.btn-stripe {
    background-color: $stripe;
    color: $white;

    &:hover {
      background-color: darken($stripe, 5%);
    }
  }
}